body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

#container {
    height: 512px;
    width: 512px;
    border: 1px solid black;
    display:flex;
    flex-wrap: wrap;
}

.grid-item {
    background-color:#FAF9F6;
}